Repository simonmichael/hledger, pull requests merged in 2018-06, with the labels that each got.

#790 feat(hledger-ui): added neovim as a supported editor
  hledger-ui/Hledger/UI/Editor.hs
Labels: in progress

#789 Upstream Sandstorm build files
  .gitignore
  .sandstorm/Vagrantfile
  .sandstorm/appGrid.svg
  .sandstorm/build.sh
  .sandstorm/changelog.md
  .sandstorm/description.md
  .sandstorm/global-setup.sh
  .sandstorm/grain.svg
  .sandstorm/launcher.sh
  .sandstorm/market.svg
  .sandstorm/pgp-keyring
  .sandstorm/pgp-signature
  .sandstorm/sandstorm-files.list
  .sandstorm/sandstorm-pkgdef.capnp
  .sandstorm/setup.sh
  .sandstorm/stack
Labels: in progress

#804 Display the line on which a parse error occurs
  hledger-lib/Hledger/Data/Dates.hs
  hledger-lib/Hledger/Data/Types.hs
  hledger-lib/Hledger/Read/Common.hs
  hledger-lib/Hledger/Read/CsvReader.hs
  hledger-lib/Hledger/Read/JournalReader.hs
  hledger-lib/Hledger/Read/TimeclockReader.hs
  hledger-lib/Hledger/Utils/Parse.hs
  hledger-lib/Text/Megaparsec/Custom.hs
  hledger-lib/hledger-lib.cabal
  hledger/Hledger/Cli/Commands/Rewrite.hs
  tests/journal/parse-errors.test
  tests/journal/posting-dates.test
Labels: A WISH, in progress, journal

#811 Add screenshots for Sandstorm
  .sandstorm/README.md
  .sandstorm/sandstorm-pkgdef.capnp
  .sandstorm/screenshot1.png
  .sandstorm/screenshot2.png
  .sandstorm/screenshot3.png
Labels: A WISH, docs, platform: sandstorm, web

#819 Improving parse errors
  hledger-lib/Hledger/Read/Common.hs
  hledger-lib/Hledger/Read/JournalReader.hs
Labels: A WISH, in progress, journal

#821 web: Import & export, permissions from CLI or headers
  .sandstorm/launcher.sh
  .sandstorm/sandstorm-pkgdef.capnp
  Makefile
  hledger-web/Application.hs
  hledger-web/Foundation.hs
  hledger-web/Handler/AddForm.hs
  hledger-web/Handler/Common.hs
  hledger-web/Handler/EditForm.hs
  hledger-web/Handler/ImportForm.hs
  hledger-web/Handler/JournalR.hs
  hledger-web/Handler/RegisterR.hs
  hledger-web/Handler/RootR.hs
  hledger-web/Handler/SidebarR.hs
  hledger-web/Handler/Utils.hs
  hledger-web/Hledger/Web.hs
  hledger-web/Hledger/Web/Application.hs
  hledger-web/Hledger/Web/Foundation.hs
  hledger-web/Hledger/Web/Handler/AddR.hs
  hledger-web/Hledger/Web/Handler/Common.hs
  hledger-web/Hledger/Web/Handler/EditR.hs
  hledger-web/Hledger/Web/Handler/JournalR.hs
  hledger-web/Hledger/Web/Handler/RegisterR.hs
  hledger-web/Hledger/Web/Handler/UploadR.hs
  hledger-web/Hledger/Web/Import.hs
  hledger-web/Hledger/Web/Main.hs
  hledger-web/Hledger/Web/Settings.hs
  hledger-web/Hledger/Web/Settings/StaticFiles.hs
  hledger-web/Hledger/Web/WebOptions.hs
  hledger-web/Hledger/Web/Widget/AddForm.hs
  hledger-web/Hledger/Web/Widget/Common.hs
  hledger-web/Import.hs
  hledger-web/Settings/Development.hs
  hledger-web/app/devel.hs
  hledger-web/config/routes
  hledger-web/hledger-web.cabal
  hledger-web/messages/en.msg
  hledger-web/package.yaml
  hledger-web/static/hledger.css
  hledger-web/static/hledger.js
  hledger-web/templates/add-form.hamlet
  hledger-web/templates/balance-report.hamlet
  hledger-web/templates/chart.hamlet
  hledger-web/templates/default-layout-wrapper.hamlet
  hledger-web/templates/default-layout.hamlet
  hledger-web/templates/edit-form.hamlet
  hledger-web/templates/journal.hamlet
  hledger-web/templates/manage.hamlet
  hledger-web/templates/register.hamlet
  hledger-web/templates/upload-form.hamlet
  hledger/Hledger/Cli/Utils.hs
Labels: A WISH, help wanted, needs:review, needs:testing, web
