Repository simonmichael/hledger, pull requests merged in 2019-03, with the labels that each got.

#979 cli, web, ui: Replace withJournalDo* variants
  hledger-ui/Hledger/UI/Main.hs
  hledger-web/Hledger/Web/Main.hs
  hledger/Hledger/Cli/Main.hs
  hledger/Hledger/Cli/Utils.hs
Labels: cli, ui, web

#981 Merge hledger-diff as a cli command
  hledger/Hledger/Cli/Commands.hs
  hledger/Hledger/Cli/Commands/Diff.hs
  hledger/Hledger/Cli/Commands/Diff.md
  hledger/Hledger/Cli/Commands/Diff.txt
  hledger/hledger.cabal
  hledger/package.yaml
Labels: A WISH, diff

#998 fix link to auto postings
  doc/common.m4
Labels: A BUG, docs
