Repository simonmichael/hledger, pull requests merged in 2020-03, with the labels that each got.

#1211 Add rules example for the new YNAB Web csv export format
  examples/csv/ynab-web-register.csv.rules
Labels: csv, docs

#1209 simpler, more flexible generation of postings from csv
  hledger-lib/Hledger/Read/CsvReader.hs
  hledger-lib/hledger_csv.5
  hledger-lib/hledger_csv.info
  hledger-lib/hledger_csv.m4.md
  hledger-lib/hledger_csv.txt
  tests/csv.test
Labels: A WISH, csv

#1214 Fix Documentation for journalExpenseAccountQuery
  hledger-lib/Hledger/Data/Journal.hs
Labels: docs
