Repository simonmichael/hledger, pull requests merged in 2021-09, with the labels that each got.

#1682 fix: roi: rare bug with PnL applied on the first day of investment
  hledger/Hledger/Cli/Commands/Roi.hs
Labels: roi

#1685 Improve efficiency of PostingsReport when called with many intervals
  hledger-lib/Hledger/Reports/PostingsReport.hs
Labels: performance

#1701 lib: Allow multiline comments in csv rules
  hledger-lib/Hledger/Read/CsvReader.hs
  hledger/hledger.m4.md
Labels: A WISH, csv

#1693 imp: csv: sql: Use . as a decimal point in sql output for Print
  hledger/Hledger/Cli/Commands/Print.hs
Labels: csv, sql

#1705 Replace --pretty-tables with --pretty, a general option.
  hledger-lib/Hledger/Reports/MultiBalanceReport.hs
  hledger-lib/Hledger/Reports/ReportOptions.hs
  hledger/Hledger/Cli/CliOptions.hs
  hledger/Hledger/Cli/Commands/Balance.hs
  hledger/Hledger/Cli/Commands/Roi.hs
  hledger/Hledger/Cli/CompoundBalanceCommand.hs
  hledger/hledger.m4.md
  hledger/test/balance/pretty.test
  hledger/test/balancesheet.test
Labels: A WISH, cli

#1716 imp: cli: Allow general optional argument flags (--pretty and
  hledger/Hledger/Cli/Main.hs
Labels: A WISH, cli
