Repository simonmichael/hledger, pull requests merged in 2021-11, with the labels that each got.

#1722 imp: balance: Allow --related flag for balance reports. (#1469)
  hledger/Hledger/Cli/Commands/Balance.hs
  hledger/Hledger/Cli/Commands/Balance.md
  hledger/test/register/related.test
  hledger/test/related.test
Labels: balance

#1764 imp: stats: also show run time and throughput
  hledger/Hledger/Cli/CliOptions.hs
  hledger/Hledger/Cli/Commands/Stats.hs
  hledger/Hledger/Cli/Commands/Stats.md
  hledger/Hledger/Cli/Main.hs
Labels: A WISH, performance, stats

#1765 feat: bal: with --declared, include all declared accounts
  hledger-lib/Hledger/Reports/MultiBalanceReport.hs
  hledger-lib/Hledger/Reports/ReportOptions.hs
  hledger/Hledger/Cli/Commands/Balance.hs
  hledger/Hledger/Cli/Commands/Balance.md
  hledger/test/balance/balance.test
Labels: A WISH, balance
