Repository simonmichael/hledger, pull requests merged in 2021-03, with the labels that each got.

#1498 tools: Include more commodities and prices in generated journals.
  tools/generatejournal.hs
Labels: tools

#1410 Fix #1404, and more...
  shell-completion/.gitignore
  shell-completion/BSDmakefile
  shell-completion/Makefile
  shell-completion/README.md
  shell-completion/hledger-completion.bash
  shell-completion/hledger-completion.bash.m4
  shell-completion/hledger-completion.bash.stub
  shell-completion/output-commands.sh
  shell-completion/output-options.sh
  shell-completion/parse-commands.sh
  shell-completion/parse-options.sh
  shell-completion/query-filters.txt
Labels: cli

#1516 bal: keep csv column and row labels consistently lower case
  hledger/Hledger/Cli/Commands/Balance.hs
  hledger/test/balance/transpose.test
Labels: balance
