Repository simonmichael/hledger, pull requests merged in 2025-03, with the labels that each got.

#2333 feat: csv: allow multiple matchers on the same line
  hledger-lib/Hledger/Read/RulesReader.hs
  hledger/hledger.m4.md
Labels: A-WISH, csv

#2342 run: test that demonstrates caching
  hledger/Hledger/Cli/Commands/Run.hs
  hledger/test/run.test
Labels: run

#2349 imp run: More successful cache hits with forecast
  hledger/Hledger/Cli/Commands/Run.hs
Labels: run, repl
